<div class="container">
    <app-nav-bar></app-nav-bar>

    <div class="body">
        <!-- Background image -->
        <div
        class="p-5 text-center bg-image"
        style="
            background-image: url('https://i.pinimg.com/originals/b8/5a/40/b85a409cd599f522155a381b38b8875e.jpg');
            height: 400px;
        "
        >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Welcome</h1>
                <h4 class="mb-3">We are a small business that focuses in keeping old friends and new customers. Come and get a super stylish new haircut and more. Hey if you still here why not schedule now and get that new awesome haircut.</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                >Schedule now</a
                >
            </div>
            </div>
        </div>
        </div>
        <!-- Background image -->

        <!-- Background image -->
        <div
        class="p-5 text-center bg-image"
        style="
            background-image: url('https://www.usnews.com/dims4/USNEWS/6cd1ba9/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fd7%2F18%2F446edaba4d22a0da5d6f382c5e54%2Fhairdresser.jpg');
            height: 400px;
        "
        >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Barbers</h1>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                >See All</a
                >
            </div>
            </div>
        </div>
        </div>
        <!-- Background image -->
    </div>

    <app-footer></app-footer>
</div>

