<div class="container" style="min-height: 600px;">
    <app-nav-bar></app-nav-bar>
    <div class="body">
        <div class="card-group">
            <div *ngFor="let pic of pics; index as i" >
                <div class="card" style="width: 19.8rem; padding: 2em;">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" alt="Card image cap">
                </div>
                
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>